<h1 class="title">Train Cost Checker</h1>

<Div class="menu">
  <div class="left">
    <Div class="menu__left">
      Input
    </Div>



<% require 'csv' %>
<% csv_data = CSV.read("/Users/takeyayasuhiro/desktop/testyou.csv", headers: true) %>
<% csv_data.each do |data| %>
    <div class="menu__left">
      <%= form_tag(checks_new_path, method: :post, class: "checkform") do %>
        <input placeholder="出発駅" type="text" name="fromstation" class="fromstation" value=<%= data["fromstation"] %> >
        <input placeholder="到着駅" type="text" name="tostation" class="tostation" value=<%= data["tostation"] %>>
         <input placeholder="金額" type="text" name="cost" class="cost" value=<%= data["cost"] %> >
         <input type="submit" value="CHECK">
     <% end %>
    </div>
  <% end %>

    <% num=0 %>
    <% while num<3 do %>
    <Div class="menu__left">
      <%= form_tag(checks_new_path, method: :post, class: "checkform") do %>
        <input placeholder="出発駅" type="text" name="fromstation" class="fromstation">
        <input placeholder="到着駅" type="text" name="tostation" class="tostation">
         <input placeholder="金額" type="text" name="cost" class="cost">
         <input type="submit" value="CHECK">
     <% end %>
    </Div>
    <% num=num+1 %>
    <% end %>

<!--       <%= form_tag(checks_new_path, method: :post, class: "checkform") do %>
    <% num=0 %>
    <% while num<3 do %>
      <div class="menu__left">
        <input placeholder="出発駅" type="text" name="fromstation" class="fromstation">
        <input placeholder="到着駅" type="text" name="tostation" class="tostation">
         <input placeholder="金額" type="text" name="cost" class="cost">
      </div>
     <% num=num+1 %>
     <% end %>


    <input type="submit" value="CHECK">
    <% end %>
 -->


    </div>
  <div class="right">

  <Div class="menu__right">
    Output
  </Div>

</Div>

